@layer components {
    .abstract-btn:disabled{
        @apply grayscale pointer-events-none
    }
    .abstract-btn{
        @apply text-white rounded-md font-semibold px-2 py-0.5 transition ease-in-out  h-6 font-normal text-xs
    }
    .blue-btn{
        @apply bg-blue-600 hover:bg-blue-500
    }
    .red-btn{
        @apply bg-red-600 hover:bg-red-500
    }
    .green-btn{
        @apply bg-emerald-600 hover:bg-emerald-500
    }
    .yellow-btn{
        @apply bg-yellow-600 hover:bg-yellow-500
    }
}