@layer components {
    .abstract-btn{
        @apply text-white rounded-md font-semibold px-4 py-1 transition ease-in-out
    }
    .blue-btn{
        @apply bg-blue-600 hover:bg-blue-500
    }
    .red-btn{
        @apply bg-red-600 hover:bg-red-500
    }
}